apiVersion: v1
kind: Service
metadata:
  name: haveibeenpwned-svc
  labels:
    app: haveibeenpwned
spec:
  ports:
    - name: haveibeenpwned
      protocol: "TCP"
      port: 5000
      targetPort: 5001
  selector:
    app: haveibeenpwned
  type: NodePort